@model uStoreMVCconvert.Models.ContactViewModel

@{
    ViewBag.Title = "Contact Confirmation";
}


<div class="row">
    <div class="col-sm-offset-2 col-sm-4">
        <h2 class="title text-center">Contact Confirmation</h2>
        <h3 class="title text-center">
            Thank you for contacting us @Model.Name ! <br />
            We will get back to you as soon as possible.
        </h3>
    </div>
</div>
