@{
    ViewBag.Title = "Home";
}

<div id="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="slider-caption">
                    <h1>Guitar</h1>
                    <p>
                        Acoustic and Electric
                        <br><br>All makes and models at the best prices
                    </p>
                    <a href="single-post.html">Shop Now</a>
                </div>

                <img src="~/Content/otherContent/photo-1420161900862-9a86fa1f5c79.jpg" />
            </li>
            <li>
                <div class="slider-caption">
                    <h1>Drums</h1>
                    <p>
                        Kits and Percussion
                        <br><br>An unbeatable new and used selection
                    </p>
                    <a href="single-post.html">More Details</a>
                </div>

                <img src="~/Content/otherContent/photo-1460667262436-cf19894f4774.jpg" />
            </li>
            <li>
                <div class="slider-caption">
                    <h1>Bass</h1>
                    <p>
                        Acoustic and Electric
                        <br><br>We specialize in vintage and custom bass!
                    </p>
                    <a href="single-post.html">Get Ready</a>
                </div>

                <img src="~/Content/otherContent/photo-1459749411175-04bf5292ceea.jpg" />
            </li>
        </ul>
    </div>
</div>

<div id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>"Your one stop shop for EVERYTHING rock"</h2>

                    <img src="~/Content/otherContent/headGuitars.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h4>Custom Shop</h4>
                    <p>If you can dream it; we can build it! <br /> Our in house luthiers only build with the best around at unbeatable prices. Call today to schedule a consultation so we can make your dream a reality!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <h4>Repair</h4>
                    <p>A switch not working? Pickups crackling? "My amp doesnt work?" <br /> Bring it by! Our professionals will diagnose, consult and repair any part of your personal or profession rig!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-usd"></i>
                    </div>
                    <h4>Consignment</h4>
                    <p>Got some gear you're looking to sell?<br />We offer the best consignment percentage in the area. Our in-house professionals scan the web to get YOU the best possible deal for your used gear.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <h4>Satisfaction</h4>
                    <p>At the end of the day, we want our quality of service and YOUR experience to speak for us.<br />See below for some testimonials as to why you should make us your one stop shop for all things rock! </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Recent Acquisitions</h2>
                    <!--<img src="images/guitarResize.png" alt="" >-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">

                        <img src="~/Content/images/stock1.jpg" />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4><a href="single-post.html">Martin Acoustics</a></h4>
                            <!--<span>29 Sep 2084</span>-->
                        </div>
                        <div class="content-hide">
                            <p>Only the best!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">

                        <img src="~/Content/images/stock2.jpg" />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4><a href="single-post.html">Gibson Electrics</a></h4>
                            <!--<span>23 Sep 2084</span>-->
                        </div>
                        <div class="content-hide">
                            <p>From the most simple to the most luxious!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">

                        <img src="~/Content/images/stock3.png" />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4><a href="single-post.html">Dingwahl Bass</a></h4>
                            <!--<span>14 Sep 2084</span>-->
                        </div>
                        <div class="content-hide">
                            <p>Proprietary bass' from one of the best brands around!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">

                        <img src="~/Content/images/stock7.jpg" />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4><a href="single-post.html">Fender Bass</a></h4>
                            <!--<span>25 Aug 2084</span>-->
                        </div>
                        <div class="content-hide">
                            <p>Get that classic Fender thump here at the shop!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">

                        <img src="~/Content/images/stock5.jpg" />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4><a href="single-post.html">Custom Kits</a></h4>
                            <!--<span>17 Aug 2084</span>-->
                        </div>
                        <div class="content-hide">
                            <p>We buy/sell/trade AND build the custom kits you've always wanted!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">

                        <img src="~/Content/images/stock6.jpg" />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4><a href="single-post.html">Select Percussion</a></h4>
                            <!--<span>12 Aug 2084</span>-->
                        </div>
                        <div class="content-hide">
                            <p>Need something a little different?! We've got it!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
