






<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>Current Stock</h2>
                    <!--<span>Home / <a href="about-us.html">Products</a></span>-->
                </div>
            </div>
        </div>
    </div>
</div>





<div id="products-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="product-heading">
                    <h2>Hot New Deals!</h2>
                    <!--<img src="images/under-heading.png" alt="" >-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="filters col-md-12 col-xs-12">
                <ul id="filters" class="clearfix">
                    <li><span class="filter" data-filter="all">All</span></li>
                    <li><span class="filter" data-filter=".guitar">Guitar</span></li>
                    <li><span class="filter" data-filter=".bass">Bass</span></li>
                    <li><span class="filter" data-filter=".drums">Drums</span></li>
                    <li><span class="filter" data-filter=".electronic">Electronic</span></li>
                    <li><span class="filter" data-filter=".acoustic">Acoustic</span></li>
                </ul>
            </div>
        </div>

        <!-- "PORTFOLIO-ITEM WHATEVER"     SYNTAX TO MAKE THEM GROUP TOGETHER ON THE PAGE -->
        <!-- IMAGES ARE 263 X 243 ////// 270 X 250   /// 950 X 550 BIG -->


        @*<div class="row">            
            <div class="col-md-3 text-center">                
                <img src="images/img_1.png" width="150px" height="150px">               
                <br>               
                product 1 - <strong>$10</strong>                
                <br>              
                <button class="btn btn-danger my-cart-btn" data-id="1" data-name="product 1" 
                        data-summary="summary 1" data-price="10" data-quantity="1" data-image="images/img_1.png">Add to Cart</button>               
                <a href="#" class="btn btn-info">Details</a>                
            </div>*@

        <!--all we need to do is edit the "button" part and we should be in good shape-->

            <div class="row" id="Container">
                <div class="col-md-3 col-sm-6 mix portfolio-item acoustic">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/otherContent/productThumbs/acousticproductbig (1).jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/acousticProductBig.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Pizza</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Fender Classic</a></h3>
                            <span class="text-category">
                                $199.99
                                <button class="btn btn-danger my-cart-btn" data-id="1" data-name="Fender Classic"
                                        data-summary="" data-price="199.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/acousticproductbig (1).jpg">
                                    Add to Cart
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item acoustic">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">

                            <img src="~/Content/otherContent/productThumbs/acousticproduct2big (1).jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/acousticProduct2Big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Ginger</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Ibanez Acoustic</a></h3>
                            <span class="text-category">$189.99
                                <button class="btn btn-danger my-cart-btn" data-id="2" data-name="Ibanez Acoustic"
                                        data-summary="" data-price="189.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/acousticproduct2big (1).jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item acoustic">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">

                            <img src="~/Content/otherContent/productThumbs/acousticproduct3big.jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/acousticProduct3Big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Pizza</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Suhr Custom Shop</a></h3>
                            <span class="text-category">$499.99
                                <button class="btn btn-danger my-cart-btn" data-id="3" data-name="Suhr Custom Shop"
                                        data-summary="" data-price="499.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/acousticproduct3big.jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item bass">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">

                            <img src="~/Content/otherContent/productThumbs/bassproductbig.jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/bassProductBig.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Pasta</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Fender Blues Box II</a></h3>
                            <span class="text-category">$499.99
                                <button class="btn btn-danger my-cart-btn" data-id="4" data-name="Fender Blues Box II"
                                        data-summary="" data-price="499.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/bassproductbig.jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item electronic">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">

                            <img src="~/Content/otherContent/productThumbs/electronicproductbig.jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/electronicProductBig.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Drink</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">ReLoop Mk3</a></h3>
                            <span class="text-category">$199.99
                                <button class="btn btn-danger my-cart-btn" data-id="5" data-name="ReLoop Mk3"
                                        data-summary="" data-price="199.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/electronicproductbig.jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item electronic">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/otherContent/productThumbs/electronicproduct2big.jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/electronicProduct2Big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Hamburger</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">ReLoop Mk3 Single Turntable</a></h3>
                            <span class="text-category">$269.99
                                <button class="btn btn-danger my-cart-btn" data-id="6" data-name="ReLoop Mk3 Single Turntable"
                                        data-summary="" data-price="269.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/electronicproduct2big.jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item guitar">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/otherContent/productThumbs/guitarproductbig.png" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/guitarProductBig.png"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Pizza</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Ibanez Semi-Hollow</a></h3>
                            <span class="text-category">$199.99
                                <button class="btn btn-danger my-cart-btn" data-id="7" data-name="Ibanez Semi-Hollow"
                                        data-summary="" data-price="199.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/guitarproductbig.png">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item guitar">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">

                            <img src="~/Content/otherContent/productThumbs/guitarproduct2big.jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/guitarProduct2Big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Pasta</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Ibanez JEM 7LBSK</a></h3>
                            <span class="text-category">$1999.99
                                <button class="btn btn-danger my-cart-btn" data-id="8" data-name="Ibanez Jem 7LBSK"
                                        data-summary="" data-price="1999.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/guitarproduct2big.jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item guitar">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">

                            <img src="~/Content/otherContent/productThumbs/guitarproduct3big.jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/guitarProduct3Big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Hamburger</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Custom Shop JazzMaster</a></h3>
                            <span class="text-category">$599.99
                                <button class="btn btn-danger my-cart-btn" data-id="9" data-name="Custom Shop Jazzmaster"
                                        data-summary="" data-price="599.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/guitarproduct3big.jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item guitar">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">

                            <img src="~/Content/otherContent/productThumbs/guitarproduct4big.jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/guitarProduct4Big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Drink</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Glamm American S-2</a></h3>
                            <span class="text-category">$399.99
                                <button class="btn btn-danger my-cart-btn" data-id="10" data-name="Glamm American S-2"
                                        data-summary="" data-price="399.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/guitarproduct4big.jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-3 col-sm-6 mix portfolio-item drums">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">

                            <img src="~/Content/otherContent/productThumbs/drumsproduct2big.jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/drumsProduct2Big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Ginger</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Tama Custom Shop Pearloid Blue 8pc</a></h3>
                            <span class="text-category">$899.99
                                <button class="btn btn-danger my-cart-btn" data-id="11" data-name="Tama Custop Shop Pearloid Blue 8pc"
                                        data-summary="" data-price="899.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/drumsproduct2big.jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item drums">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/otherContent/productThumbs/drumsproduct3big.jpg" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/drumsProduct3Big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <!--<span>Pasta</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3><a href="single-post.html">Roland 9pc Digital Mk4</a></h3>
                            <span class="text-category">$1099.99
                                <button class="btn btn-danger my-cart-btn" data-id="12" data-name="Roland 9pc Digital Mk4"
                                        data-summary="" data-price="1099.99" data-quantity="1" data-image="~/Content/otherContent/productThumbs/drumsproduct3big.jpg">
                                    Add to Cart
                                </button>

                            </span>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="pagination">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            @*<li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>*@
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




